<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello! How are you,{{name}}?</div>
<dir>Let's do cool things!</dir>
<dir></dir>
<dir> Now I trying to to master Git</dir>
</body>
</html>